<div id="main-container" class="">
  <div id="chat-history-box" class="border border-dark-subtle p-2">
  <ng-container *ngFor="let prompt of chatSession?.prompts">
    <div class="prompt-bubble">
      {{prompt.prompt}}
    </div>
    <div *ngIf="prompt.answer" class="answer-bubble">
      {{prompt.answer}}
    </div>
  </ng-container>
  </div>
  <div id="input-box" class="border border-dark-subtle p-2">
    <input type="text" class="form-control" [(ngModel)]="newPromptText">
    <button class="btn btn-outline-primary">
      <i class="bi bi-send"></i>
    </button>
  </div>
</div>
