#main-container {
  max-width: 350px;
  height: 100%;
  border-radius: 10px;
}

.item-container {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  line-height: 50px;
}

.item-container:hover {
  cursor: pointer;
}

#add-session-button {
  border-radius: 5px;
}

